<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10" style="text-align: center;">
			<% if current_user %>
			<% else %>
			    <div class="guide">
			    	<h2>登録して自分のQを投稿してみよう！新規登録は<%= link_to "こちら", root_path %></h2>
			    </div>
			<% end %>

			<textarea class="q_url" id="bar"><%= request.url %></textarea>
			<button class="clipboard-btn btn btn-success" data-clipboard-action="copy" data-clipboard-target="#bar" data-toggle="popover" data-content="クリップボードにコピーしました。">
			このボタンを押してURLをコピーしてシェアしよう！
		    </button>

			<div class="user_link">
				<h3><%= link_to user_path(@question.user) do %>
					    <%= @question.user.name %>
			        <% end %>
			        さんのQです</h3>
			</div>
			<div>
				<%= image_tag @question.question_image %>
				<% if current_user && current_user.id == @user.id %>
				    <%= link_to "Qの削除",question_path(@question.token), method: :delete, class:"btn btn-danger" %>
				<% end %>
			</div>
			<div class="question_data">
			    <div class="question_day">
				    投稿日<%= @question.question_day.month %>月<%= @question.question_day.day %>日
			    </div>

			    <div class="answers_count">
				    回答数<%= @question.answers.count %>
			    </div>
		    </div>

			<div>
				<h2>回答一覧</h2>
				<% if @question.answers.blank? %>
				    <h3>まだ回答がありません</h3>
				<% else %>
				    <% @question.answers.each do |f| %>
				    <div class="popover right show" style="position:relative; max-width:100%;">
				    	<div class="arrow"></div>
				    	<h3 class="popover-title">
				    		<%= f.nickname %>さん
				    	</h3>
				    	<div class="popover-content">
				    		<p><%= f.answer %></p>
				    	</div>
				    </div>
				    <% end %>
				<% end %>
			</div>
            <div><h3><%= notice %></h3></div>           
		    <div class="answer_box">
			    <h2>回答する</h2>
			    <%= form_for @answer do |f| %>
			        <p>ニックネーム<%= f.text_field :nickname %></p>
			        <p>回答コメント<%= f.text_field :answer %></p>
			        <%= f.hidden_field :question_id, :value => @question.id %>
			    <%= f.submit "回答する" %>
			    <% end %>
		    </div>
	    </div>
		<div class="col-lg-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-12">
		    <div class="q_slide">
			    <h3><strong><%= icon("fas", "arrow-down") %>最新のQをピックアップ！<%= icon("fas", "arrow-down") %></strong></h3>
			    <div class="multiple-item">
			        <% @questions.order(created_at: "DESC").first(10).each do |q| %>
			            <div class="slide_content">
			            	<h3><%= q.user.name %>さんのQ</h3>
			            	<%= link_to question_path(q.token) do %>
			            	<%= image_tag q.question_image, size: "425x220", class:"question_image" %>
			                <% end %>
			            </div>
			        <% end %>
		        </div>
		    </div>			
		</div>
	</div>
</div>