<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8" style="text-align: center;">
			<h1>さあ、聞いてみよう！</h1>
			<div id="fadein_area" style="margin-top: 30px">
				<ol style="list-style: none;">
					<li class="col-lg-4"><div class="step">Step1 かんたん登録</div></li>
					<li class="col-lg-4"><div class="step">Step2 Qを投稿する</div></li>
					<li class="col-lg-4"><div class="step">Step3 情報が集まる</div></li>
				</ol>
			</div>
			<div class="row">
				<div class="col-lg-12" style="margin-top: 50px;">
					<h2>外部サービスで簡単登録・ログイン</h2>
					<%= button_to "/auth/google_oauth2", id: "sign_in", class:"btn btn-danger" do %>
					<h3><%= icon("fab", "google") %></i> Googleで登録・ログイン</h3>
					<% end %>

					<%= button_to "/auth/facebook", id: "sign_in", class:"btn btn-primary" do %>
					<h3><%= icon("fab", "facebook") %></i> Facebookで登録・ログイン</h3>
					<% end %>

					<%= button_to "/auth/line", id: "sign_in", class:"btn btn-success" do %>
					<h3><%= icon("fab", "line") %> Lineで登録・ログイン</h3>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="q_slide">
			    <h3><strong>最近投稿されたQ</strong></h3>
			    <div class="multiple-item">
			        <% @questions.order(created_at: "DESC").first(10).each do |q| %>
			            <div class="slide_content">
			            	<h3><%= q.user.name %>さんのQ</h3>
			            	<%= link_to question_path(q.token) do %>
			            	<%= image_tag q.question_image, size: "425x220", class:"question_image" %>
			                <% end %>
			            </div>
			        <% end %>
		        </div>
		    </div>
		</div>
	</div>
</div>

<script>
$(function(){
	$('#fadein_area ol li').hide();
	$('#fadein_area ol li').each(function(i) {
		$(this).delay(500 * i).fadeIn(1000);
	});
});
</script>