<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align: center;">
            <div class="edit_form">
                <h1><strong>ユーザー設定</strong></h1>
                <%= form_for @user do |f| %>
                <div>
                    <%= f.label "ニックネーム" %><br>
                    <%= f.text_field :name %>
                </div>

                <div>
                    <%= f.label "プロフィール画像" %><br>
                    <%= f.attachment_field :user_image %>
                </div>

                <div>
                    <%= f.label "メールアドレス" %><br>
                    <%= f.text_field :email %>
                </div>

                <div>
                    <%= f.label "自己紹介文" %><br>
                    <%= f.text_area :profile, style: "height:200px;" %>
                </div>
                <%= f.submit "更新する", class:"btn btn-success" %>
                <% end %>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>