<!DOCTYPE html>
<html>
  <head>
    <title>EasyQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header style="background-color: #9933CC; height: 60px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <h2 style="text-align: center;"><a href="/" style="color: white;">EasyQ</a></h2>
         </div>
          <div class="col-lg-4">
            <% if current_user %>
            <div class="navToggle">
              <span></span><span></span><span></span>
            </div>

            <nav class="globalMenuSp">
              <ul>
                <li><%= link_to "ユーザー設定", edit_user_path(current_user.id) %></li>
                <li><a href="#">Q投稿履歴</a></li>
                <li><a href="#">お問い合わせ</a></li>
                <li><%= link_to "ログアウト", signout_path, id: "sign_out" %></li>
              </ul>
            </nav>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div>
    </div>
    <%= yield %>
  </body>
  <footer></footer>
</html>

<script>
  $(function() {
    $('.navToggle').click(function() {
        $(this).toggleClass('active');
 
        if ($(this).hasClass('active')) {
            $('.globalMenuSp').addClass('active');
        } else {
            $('.globalMenuSp').removeClass('active');
        }
    });
});
</script>
